name: Friends

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 13.x
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm set audit false && node -v && npm -v
      - run: npm i
      - run: npm run build
      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' }}
        uses: crazy-max/ghaction-github-pages@v2.5.0
        with:
          target_branch: gh-pages
          build_dir: dist
          committer: BaoshuoBot <bot@baoshuo.ren>
          author: Ren Baoshuo <i@baoshuo.ren>
          commit_message: "deploy: ${{ github.sha }}"
          keep_history: true
          fqdn: friends.baoshuo.ren
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
